#podcast-overview {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 25px;
  overflow-y: auto;
  color: var(--container-text-color);

  .section-title {
    margin: 0;
  }

  video {
    width: 100%;
    height: calc((25vw * 9) / 16);
    object-fit: cover;
    border: var(--container-border-color);
    border-radius: var(--container-radius);
  }

  .upcoming-podcast {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 5px;

    p {
      font-size: 18px;
      margin: 0;
    }
  }

  #podcast-playlist {
    display: grid;
    grid-auto-rows: 40px;
    grid-auto-flow: row;
    list-style: none;
    margin: 0;
    padding: 0;
    border: var(--container-border-color);
    border-radius: var(--container-radius);
    position: relative;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    .podcast-playlist-item {
      position: relative;
      overflow-x: auto;
      scrollbar-width: none;
      border-bottom: 1px dashed var(--primary-color);
      background: var(--container-background-color);
      cursor: pointer;

      &:hover, &.playing {
        background: white;
        color: black;

        .content-container {
          animation: scrollPlaylistItem 15s linear infinite alternate;

          span {
            background: black;
          }
        }
      }

      .content-container {
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 10px;
        white-space: nowrap;
        scrollbar-width: none;
        position: absolute;

        p {
          margin: 0;
          font-size: 15px;
        }

        span {
          display: inline-block;
          height: 3px;
          min-width: 3px;
          background: var(--container-text-color);
          border-radius: var(--circle-radius);
        }
      }
      &:last-child {
        border: none;
      }
    }
  }

  form {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border: var(--container-border-color);
    border-radius: var(--container-radius);
    background: var(--container-background-color);

    h3 {
      text-align: center;
      margin: 0;
    }

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    label {
      font-size: 16px;
      text-align: left;
      margin-bottom: 3px;
    }

    input {
      width: 100%;
      height: 30px;
      border: none;
      outline: none;
      outline: none;
      font-size: 18px;
      padding-left: 5px;
      border-radius: var(--container-radius);

      &:focus {
        border: 1px solid transparent;
        outline: 1px solid var(--primary-color);
      }
    }

    textarea {
      min-height: 100px;
      width: 100%;
      resize: none;
      border: none;
      outline: none;
      padding: 5px 10px;
      border-radius: var(--container-radius);

      &:focus {
        border: 1px solid transparent;
        outline: 1px solid var(--primary-color);
      }
    }
  }

  .podcast-overview-submission-btn {
    width: 100%;
    height: 35px;
    border-radius: var(--container-radius);
    border: none;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
  }
}

@keyframes scrollPlaylistItem {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
