.vote-controller {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--container-text-color);
  cursor: default;

  &.vertical {
    flex-direction: column;
  }

  button {
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--circle-radius);
    background: none;
    cursor: default;

    svg {
      width: 20px;
      cursor: pointer;

      path {
        fill: var(--container-text-color);
      }

      &.selected {
        path {
          fill: var(--primary-color);
        }
      }
    }
  }

  .vote-total {
    width: auto;
    margin: 0;
    text-align: center;
    cursor: default;
  }
}
