.vote-controller {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &.vertical {
    flex-direction: column;
  }

  &.light svg path {
    fill: black;
  }

  &.dark svg path {
    fill: white;
  }

  button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--circle-radius);
    background: none;

    svg {
      width: 20px;
      cursor: pointer;

      path {
        fill: white;
      }

      &.selected {
        path {
          fill: var(--primary-color);
        }
      }
    }
  }

  .vote-total {
    width: auto;
    margin: 0;
    color: white;
    text-align: center;
  }
}
