#podcast-overview {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 25px;
  overflow-y: auto;
  color: black;

  .section-title {
    margin: 0;
  }

  video {
    width: 100%;
    height: calc((25vw * 9) / 16);
    border-radius: var(--container-radius);
    object-fit: cover;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: none;
  }

  .upcoming-podcast {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 5px;

    p {
      font-size: 18px;
      margin: 0;
    }
  }

  #podcast-playlist {
    display: grid;
    grid-auto-rows: 40px;
    grid-auto-flow: row;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: var(--container-radius);
    position: relative;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    .podcast-playlist-item {
      position: relative;
      overflow-x: auto;
      scrollbar-width: none;
      border-bottom: 1px solid var(--primary-color);
      background: white;
      cursor: pointer;

      &:hover {
        background: black;
      }

      &.playing {
        background: black;

        .content-container {
          animation: scrollPlaylistItem 15s linear infinite alternate;
          color: white;
        }
      }

      .content-container {
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 10px;
        white-space: nowrap;
        scrollbar-width: none;
        position: absolute;

        p {
          margin: 0;
          font-size: 15px;
        }

        span {
          display: inline-block;
          height: 3px;
          min-width: 3px;
          color: black;
          background: black;
          border-radius: var(--circle-radius);
        }

        &:hover,
        &.playing {
          background: black;
          animation: scrollPlaylistItem 15s linear infinite alternate;

          p {
            color: white;
          }
        }
      }
      &:last-child {
        border: none;
      }
    }
  }

  form {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border-radius: var(--container-radius);
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);

    h3 {
      text-align: center;
      margin: 0;
    }

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    label {
      font-size: 16px;
      text-align: left;
      margin-bottom: 3px;
    }

    input {
      width: 100%;
      height: 30px;
      outline: none;
      font-size: 18px;
      border-radius: var(--container-radius);
      border: 1px solid black;
      padding-left: 5px;

      &:focus {
        border: 1px solid transparent;
        outline: 1px solid var(--primary-color);
      }
    }

    textarea {
      min-height: 100px;
      width: 100%;
      padding: 5px 10px;
      border-radius: var(--container-radius);
      border: 1px solid black;
      resize: none;

      &:focus {
        border: 1px solid transparent;
        outline: 1px solid var(--primary-color);
      }
    }
  }

  .podcast-overview-submission-btn {
    width: 100%;
    height: 35px;
    border-radius: var(--container-radius);
    border: none;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
  }
}

@keyframes scrollPlaylistItem {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
