* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(255, 0, 255);
}

#app-body {
  min-height: 100dvh;
  margin: 0;
  background: black;
}

#app-header {
  background: black;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 60px;
  padding: 0 5vw;
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);

  .accessLinks {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: end;
    align-items: center;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: fuchsia;
      }
    }

    hr {
      height: 30%;
      color: white;
      margin: 0 10px;
    }
  }
}
