#podcast-overview {
  height: 90%;
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 25px;
  border-right-width: 2px;
  border-right-style: solid;
  border-image: linear-gradient(
      transparent,
      var(--primary-color) 50%,
      transparent
    )
    1;
  overflow-y: auto;
  color: black;
  position: fixed;
  top: 85px;
  left: 5vw;

  .section-title {
    margin: 0;
  }

  video {
    width: 100%;
    height: calc((25vw * 9) / 16);
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: none;
  }

  .upcoming-podcast {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 5px;

    p {
      font-size: 18px;
      margin: 0;
    }
  }

  #podcast-playlist {
    height: 175px;
    min-height: 125px;
    display: grid;
    grid-auto-rows: 40px;
    grid-auto-flow: row;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      padding: 0 10px;
      border-bottom: 1px solid var(--primary-color);
      background: white;
      cursor: pointer;

      p {
        margin: 0;
        font-size: 15px;
      }

      &:hover {
        background: black;

        p {
          color: white;
        }
      }

      &:last-child {
        border: none;
      }
    }
  }

  form {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);

    h3 {
      text-align: center;
      margin: 0;
    }

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    label {
      font-size: 16px;
      text-align: left;
      margin-bottom: 3px;
    }

    input {
      width: 100%;
      height: 30px;
      outline: none;
      font-size: 18px;
      border-radius: 10px;
      border: 1px solid black;
      padding-left: 5px;

      &:focus {
        border: 1px solid transparent;
        outline: 1px solid var(--primary-color);
      }
    }

    textarea {
      min-height: 100px;
      width: 100%;
      padding: 5px 10px;
      border-radius: 10px;
      border: 1px solid black;
      resize: none;

      &:focus {
        border: 1px solid transparent;
        outline: 1px solid var(--primary-color);
      }
    }
  }

  .podcast-overview-submission-btn {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
  }
}
