#login-page,
#registration-page {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--container-text-color);
}

#login-form,
#registration-form {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: var(--container-background-color);
  padding: 50px;
  border-radius: var(--container-radius);
  border: var(--container-border-color);

  header {
    text-align: center;

    a {
      color: blueviolet;
    }
  }
}

.form-input-containers {
  width: 100%;
  height: 40px;
  position: relative;
  border-radius: var(--container-radius);
  background: transparent;

  input[type="password"] {
    letter-spacing: 0.2em;
  }
}

.form-inputs {
  width: 100%;
  height: 100%;
  padding: 0 0.3em;
  font-size: 18px;
  line-height: 1.5em;
  border: none;
  border-bottom: 1px solid var(--container-text-color);
  background: transparent;
  color: inherit;

  &:focus {
    outline: none;
  }

  &:focus ~ .form-labels {
    top: -24px;
    left: 0;
    font-size: 14px;

    svg {
      height: 20px;
      width: 20px;
    }
  }
}

.form-labels {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  transition: 300ms ease-in-out all;

  svg {
    margin-left: 0.25em;
  }

  &.shrink {
    top: -24px;
    left: 0;
    font-size: 14px;

    svg {
      height: 20px;
      width: 20px;
    }
  }
}

.instruction {
  width: 100%;
  line-height: 24px;
  margin-left: 0 auto;
  border-radius: var(--container-radius);
  background: #999;
  color: inherit;
  padding: 0.5em;
  position: relative;

  p {
    margin: 0;
    text-indent: 25px;
  }

  svg {
    top: 0.5em;
    left: 0.5em;
    position: absolute;
    height: 22px;
    width: 22px;
    margin-right: 0.3em;
    margin-top: auto;
    margin-bottom: auto;

    path {
      fill: white;
    }
  }
}

footer {
  height: auto;
  width: 100%;
  display: flex;
  gap: 20px;
  .submit-btn {
    flex: 1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }
}

.offscreen {
  position: absolute;
  left: -9999px;
}
