#home-page {
  position: relative;
  display: grid;
  grid-template-columns: 25vw 1fr 25vw;
  gap: 25px;
}

#search-results {
  grid-area: results;
  height: 0;
  background: white;
  border-radius: var(--container-radius);
  margin-bottom: 5vh;
  display: none;
}
