#home-page {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 25px;
}

#search-results {
  grid-area: results;
  height: 0;
  background: white;
  border-radius: var(--container-radius);
  margin-bottom: 5vh;
  display: none;
}
