#forum {
  overflow: hidden;
  list-style: none;
  border-radius: 10px;
  padding: 0;
  margin: 0;
}

.forum-item-card {
  width: 100%;
  min-height: 125px;
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-bottom: 25px;
  border-radius: 10px;
  color: black;
  overflow: hidden;
  background: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;

  a {
    text-decoration: none;
    color: black;
  }

  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    padding: 10px;
    border: 2px solid transparent;
    color: black;

    &:hover {
      border: 2px solid fuchsia;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    img {
      height: 100px;
      width: 100%;
    }
    .alias {
      height: 18px;
      margin: 0;
      font-size: 1.05em;
    }

    .posted {
      color: grey;
    }
  }

  .content-container {
    height: 100%;
    position: relative;

    .postContent {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 10px 35px;
      gap: 10px;
    }

    .title {
      flex: 0 1 35px;
      margin: 0;
      font-size: 1.3em;
      display: flex;
      align-items: center;
    }

    .content {
      flex: 1;
      margin: 0;
      font-size: 1.1em;
      color: grey;
    }

    footer {
      flex: 0 0 35px;
      width: 100%;
      display: flex;
      align-self: flex-end;
      align-items: center;
      height: 35px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;

      button {
        border: none;
        background: none;
        padding: 0;
      }

      .footer-item {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: none;

        &.flair {
          color: white;
          text-transform: uppercase;
          letter-spacing: 0.05em;
        }

        &.anxiety {
          background: green;
        }

        &.comments {
          cursor: pointer;
          svg {
            height: 16px;
            margin-right: 5px;
            margin-top: 2px;
          }

          &:hover {
            background: rgba(0, 0, 0, 0.1);
          }
        }

        &.favorite {
          button {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
          svg {
            height: 22px;
            margin-right: 5px;
          }

          &:hover {
            background: rgba(0, 0, 0, 0.1);
          }
        }

        &.share {
          cursor: pointer;

          svg {
            height: 22px;
            margin-right: 5px;
          }

          &:hover {
            background: rgba(0, 0, 0, 0.1);
          }
        }

        svg {
          path {
            fill: black;
          }
        }

        .upvote,
        .downvote {
          height: 30px;
          width: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin: 0 10px;
          transition: 300ms ease-out all;
          cursor: pointer;

          svg {
            width: 16px;
          }
          &:hover {
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }

      p {
        flex: 1;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        font-size: 15px;
      }
    }
  }
}
