.favorite-controller {
  flex: 1;
  height: 100%;
  width: 100%;
  position: relative;

  form {
    height: 100%;
    width: 100%;

    button {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
      color: var(--container-text-color);
      gap: 5px;

      svg {
        height: 22px;
        width: 22px;
        cursor: pointer;

        path {
          fill: var(--container-text-color);
        }

        &:hover path {
          fill: var(--primary-color);
        }
      }

      &.vertical {
        flex-direction: column;
      }
    }
  }
}
