#community-overview {
  width: min(40vw, 700px);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--container-text-color);

  .section-title {
    margin: 0;
  }

  #community-overview-actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border: var(--container-border-color);
    border-radius: var(--container-radius);

    .actions-divider {
      width: 100%;
      margin: 0;
      border: var(--container-border-color);
    }

    #create-post-with-image-btn {
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border: none;
      border-radius: var(--container-radius);
      background: none;
      cursor: pointer;

      &:hover {
        background: #dfdfdf;
      }
    }
  }

  #community-overview-navigation {
    width: 100%;
    display: flex;
    overflow: hidden;
    margin: 0;
    background: var(--container-background-color);

    .forum-filter {
      flex: 1;
      border: none;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      padding: 10px 0;
      text-align: center;
      text-decoration: none;
      color: inherit;
      background: none;

      &:hover,
      &.active {
        border-bottom: 2px solid var(--primary-color);
      }
    }
  }

  #create-post-form {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--container-background-color);
    padding: 10px;

    .create-post-selector {
      flex: 1;
      height: 45px;
      width: 100%;
      padding-left: 10px;
      border-radius: var(--container-radius);
      background: white;

      p {
        color: #555;
        margin: 12px 0;
      }

      &:hover {
        background: #eee;
        cursor: pointer;
      }
    }
  }
}
